* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.container {
  width: 1400px;
  margin: 0 auto;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu nav ul {
  display: flex;
}

.header-menu nav ul li {
  margin-right: 40px;
}

.header-menu .last-li {
  margin: 0;
}

.header-menu__span {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #4f5665;
}

.header-menu-buttons {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.header-menu-buttons a b {
  color: #0b132a;
  margin-right: 30px;
}

.header-menu-buttons .menu-button__span {
  color: #f53855;
  padding: 8px 40px;
  border: 1px solid #f53855;
  border-radius: 50px;
}

.header-menu-buttons .menu-button__span:hover {
  color: white;
  background-color: #f53855;
}

.header-information {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}

.header-information div h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 7rem;
  color: #0b132a;
  width: 35vw;
}

.header-information div h1 b {
  font-weight: 700;
}

.header-information div p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  width: 35vw;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header-information .information-text__span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: white;
  padding: 15px 77px;
  background: #f53855;
  border-radius: 10px;
  box-shadow: 1px 36px 30px -9px rgba(245, 56, 85, 0.68),
    1px -6px 50px -4px rgba(245, 56, 85, 0.35);
}

.header-information figure img {
  max-width: 611px;
  max-height: 382px;
  width: 100%;
  height: 75%;
  min-width: 150px;
  min-height: 288px;
}

.header-table {
  height: 20rem;
  margin-top: 104px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 24px 13px 2px rgba(13, 16, 37, 0.06);
  border-radius: 10px;
}

.table-data {
  display: flex;
}

.table-data span {
  margin-right: 15px;
  background-color: #ffecec;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.table-data .icon-behavior {
  background-color: white;
  margin-bottom: 20px;
}
.table-data .icon-behavior i {
  font-size: 55px;
  color: #f53855;
}

.table-data span i {
  color: #f53855;
  font-size: 40px;
  margin-left: 7.5px;
  margin-top: 7.5px;
}

.table-data p {
  font-size: 2rem;
  line-height: 3rem;
  color: #0b132a;
}

.hero {
  margin-top: 107px;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.hero .container {
  display: flex;
}

.hero .container figure {
  width: 50%;
}

.hero .container figure img {
  max-width: 508px;
  max-height: 414px;
  width: 100vw;
  height: 100vh;
}

.hero-div {
  width: 50%;
  margin-left: 25%;
  margin-top: 45px;
}

.hero-div h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  width: 25vw;
}

.hero-div p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  width: 26vw;
  margin: 20px 0;
}

.hero-div ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.hero-div ul li i {
  color: green;
}

.plan {
  background-color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
}

.plan .container {
  text-align: center;
}

.plan .container h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  padding-top: 90px;
}

.plan .container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
}

.choose-plan {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 160px;
}

.choosed-plan {
  width: 330px;
  height: 780px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 10px;
}

.choosed-plan img {
  max-width: 144px;
  max-height: 165px;
  height: auto;
  width: auto;
  margin-top: 79px;
}

.choosed-plan h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #0b132a;
  margin: 30px 0;
}

.choosed-plan ul {
  width: 55%;
  margin: 0 auto;
  height: 276px;
}

.choosed-plan ul li {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #4f5665;
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

.choosed-plan ul li i {
  color: green;
}

.plan .choosed-plan h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #0b132a;
  padding-top: 50px;
  margin-bottom: 20px;
  height: auto;
}

.choosed-plan h2 span {
  font-weight: 400;
  color: #4f5665;
}

.choosed-plan a {
  margin-top: 200px;
  margin-bottom: 50px;
}

.choosed-plan .choosed-plan__span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #f53855;
  padding: 13px 62px;
  border: 2px solid #f53855;
  border-radius: 50px;
}

.global {
  background-color: #fbfbfb;
}

.global .container {
  text-align: center;
}

.global .container h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  width: 22.5vw;
  margin: 0 auto;
}

.global .container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  width: 30vw;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 155px;
}

.global .container img {
  max-width: 1060px;
  max-height: 537px;
  width: 75%;
  height: 80%;
}

.global-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 109px;
}

.global .container .global-social .social-media {
  width: 220px;
  height: 90px;
}

.testimonial {
  background-color: #fbfbfb;
  padding-bottom: 100px;
}

.testimonial .container {
  text-align: center;
  padding-top: 124px;
}

.testimonial .container h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 5rem;
  color: #0b132a;
  width: 30vw;
  margin: 0 auto;
}

.testimonial .container p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  width: 30vw;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.testimonial-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 300px;
}

.testimonial-card {
  width: 400px;
  height: 230px;
  border-radius: 10px;
  background-color: white;
}

.card-up {
  display: flex;
  height: 25%;
  align-items: center;
  margin-left: 50px;
  margin-top: 20px;
}

.testimonial-card .card-up p {
  color: #0b132a;
  text-align: left;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
}

.testimonial-card .card-up p span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 3rem;
  color: #4f5665;
}

.card-up img {
  height: 50px;
  width: 50px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.card-up__span {
  background-image: url("../img/star.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonial-card .card-down p {
  width: 85%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #0b132a;
  margin: 0 auto;
}

footer {
  position: relative;
  height: auto;
  background-color: #f8f8f8;
}

.footer-div {
  padding-top: 180px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

footer .footer-over {
  width: 1400px;
  height: 233px;
  background-color: white;
  position: absolute;
  bottom: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.over-text h2 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #0b132a;
  width: 21vw;
}

.over-text p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  margin-top: 5px;
}

.footer-over .footer-over__span {
  padding: 30px 125px;
  background-color: #f53855;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.5rem;
  box-shadow: 1px 29px 19px -13px rgba(245, 56, 56, 0.43);
}

.footer-social p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
  width: 19vw;
  margin: 25px 0;
}

.footer-div-social span {
  margin-right: 10px;
  color: #f53855;
}

.footer-list p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #0b132a;
  margin-bottom: 20px;
}

.footer-list ul li {
  margin-bottom: 10px;
}

.footer-list ul li a span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #4f5665;
}

@media screen and (max-width:1024px){

}

@media screen and (max-width:768px){
  header{
    height: auto;
  }

  .header-menu{
    flex-direction: column;
  }

  .header-menu nav ul{
    display: block;
    margin: 20px auto;
  }

  .header-menu nav ul li{
    margin: 15px 0;
  }

  .header-menu-buttons{
    margin-top: 25px;
  }

  .header-information{
    flex-direction: column;
    align-items: center;
  }

  .header-information div{
    height: auto;
  }

  .header-information div h1{
      width: 80vw;
      text-align: center;
  }

  .header-information div p{
    margin: 20px auto;
    margin-bottom: 50px;
    width: 80vw;
  }

  .header-information img{
    margin-top: 150px;
  }

  .header-table{
    flex-direction: column;
    align-items: center;
    margin: 150px auto;
    height: auto;
    width: 50%;
  }

  .table-data{
    margin: 20px auto;
    width: 193px;
  }

}

@media screen and (max-width:480px){
  
}

@media screen and (max-width:320px){
  
}